.background {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to right, #4776E6, #8E54E9);
    overflow: hidden;
}

.shape {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}

.shape:nth-child(1) {
    width: 500px;
    height: 500px;
    top: -250px;
    right: -100px;
}

.shape:nth-child(2) {
    width: 300px;
    height: 300px;
    bottom: -150px;
    left: -50px;
}